.marquee {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.marquee__content {
  display: flex;
  gap: 3rem;
  width: max-content;
  animation: marquee 25s linear infinite;
}

/* PAUSE ON HOVER */
.group:hover .marquee__content {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
